.searchBarContainer{
    text-align: center;
    align-items: center;
    margin: 1rem 0;
    border-bottom: 3px solid darkcyan;
}

.logo{
    width: 5rem;
}

.icons{
    font-size: 1rem !important;
}