.footerEmailContainer{
    padding: 1rem 0;
    text-align: center;
    border-top: 3px solid darkcyan;
    border-bottom: 3px solid darkcyan;
}

.title{
    margin: 0;
    font-size: 3rem;
}

.text{
    margin: 0;
    color: gray;
    margin: 1rem 0;
}

.emailAreaContainer{
    display: flex;
    justify-content: center;
}


.textField{
    padding: 0 0.5rem;
    width: 95%;
    height: 2rem;
    margin: 0;
}


.btn{
    width: 100%;
}