.orderContainer{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.title{
    margin: 0;
    color: rgb(0, 87, 87);
    margin: 0.5rem 0;
}


.info{
    text-align: right;
    color: rgb(2, 169, 169);
    margin: 0.5rem 0;
    margin-left: 1rem;
}


.infoContainer{
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.bookImg{
    width:  8rem;
    height: 200px;
    border-radius: 10px;
}


.btn{
    width: 100%;
    margin-top: 1rem;
}