
.banner1{
    justify-content: center;
    margin: 1rem 0;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.titleText{
    font-size: 0.9rem !important;
}

.titleIcon{
    padding-left: 0.5rem;
}

.bannerImageContainer{
    display: flex;
    justify-content: center;
}

.bannerImg{
    width: 90%;
    border-radius: 20px;
}

.bannerImg:hover{
    transform: scale(1.1);
    transition: 0.2s ease;
}


.banner2{
    display: none;
    position: relative;
}

.slideBtns{
    display: flex;
    top: 0;
    align-items: center !important;
    justify-content: space-between !important;
}

.backBtn,.nextBtn{
    border-radius: 50%;
    padding: 0.9rem 1rem;
    border: none;
}


@media only screen and (max-width: 600px){
	.banner1{
        display: none !important;
    }
    .banner2{
        display: block;
    }
}

@media only screen and (max-width: 899px){
	.hidden{
        display: none;
    }
}