.bannerContainer{
    justify-content: center;
    margin: 1rem 0;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.titleText{
    font-size: 0.9rem !important;
}

.titleIcon{
    padding-left: 0.5rem;
}

.bannerImageContainer{
    display: flex;
    justify-content: center;
}

.bannerImg{
    width: 90%;
    border-radius: 20px;
}