
.filterContainer{
    margin: 0 1rem;
}


.activeCategory{
    margin: 0.5rem 0 ;
}

.itemContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.align{
    display: flex;
    align-items: center;
}

.label{
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 0.5rem;
}

.itemName{
    color: orange;
}


.link{
    text-decoration: none;
    color: #2196f3;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.link:focus{
    color: orange;
}